{% extends "base.html" %}

{% block content %}
<h1>Activities Management</h1>

<!-- Tabella che mostra tutte le attività esistenti -->
<div class="table-responsive">
    <h2>All Activities</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Activity Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for activity in activities %}
                <tr>
                    <td>{{ activity.name }}</td>
                    <td class="action-buttons">
                        <form action="{{ url_for('notes.edit_activity', activity_name=activity.name) }}" method="GET" style="display:inline;">
                            <button type="submit" class="btn-link" title="Edit">
                                <i class="material-icons">edit</i>
                            </button>
                        </form>
                        <form action="{{url_for('notes.delete_activity', activity_name=activity.name) }}" method="POST" style="display:inline;" onclick="return confirm('Are you sure you want to delete this activity?');">
                            <button type="submit" class="btn-link" title="Delete">
                                <i class="material-icons">delete_forever</i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Form per aggiungere una nuova attività -->
<div class="form-group">
    <h2>Add Activity</h2>
    <form method="POST" action="{{ url_for('notes.add_activity') }}">
        <!-- Campo di input per inserire l'attività -->
        <div class="form-group">
            <label for="attivita">New Activity:</label>
            <input type="text" id="attivita" name="attivita" class="form-control" placeholder="Insert a new activity" required>
        </div>

        <!-- Pulsante per aggiungere l'attività -->
        <button type="submit" class="btn btn-primary">Add Activity</button>
    </form>
</div>

{% endblock %}
