{% extends "base.html" %}

{% block content %}
<h1>Create Order</h1>
<div class="page">
    <h2>New Order</h2>
    <form method="POST" action="{{ url_for('orders.orders') }}">
        <div class="form-group">
            <label for="order_id">Order ID:</label>
            <input type="text" id="order_id" name="order_id" required>
        </div>
        <div class="form-group">
            <label for="product">Product:</label>
            <select id="product" name="product" required>
                <option value="" disabled selected>Select a Product</option>
                {% for item in products %}
                    <option value="{{ item['item_id'] }}">{{ item['item_id'] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" name="quantity" required>
        </div>
        <div class="form-group">
            <label for="cycleID">Cycle ID:</label>
            <select id="cycleID" name="cycleID" required>
                <option value="" disabled selected>Select a Cycle</option>
                {% for cycle in cycles %}
                    <option value="{{ cycle['cycleID'] }}">{{ cycle['cycleID'] }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Create Order</button>
    </form>
</div>
{% endblock %}
