{% extends "base.html" %}

{% block content %}
<h1>Gestione Note Operatore</h1>
<!-- Form per selezionare l'operatore, il cliente e la data -->
<div class="form-group">
    <form method="POST" action="{{ url_for('notes.notes') }}">
        <div class="form-row align-items-center">
            <!-- Menu a tendina per selezionare l'operatore -->
            <div class="col-md-4">
                <div class="form-group">
                    <label for="operatore">Seleziona Operatore:</label>
                    <select id="operatore" name="operatore" class="form-control" required>
                        <option value="" disabled selected>-- Seleziona un operatore --</option>
                        {% for operatore in operatori %}
                            <option value="{{ operatore['operator_id'] }}" {% if operatore['operator_id'] == selected_operator %}selected{% endif %}>{{ operatore['operator_id'] }} - {{ operatore['name'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <!-- Menu a tendina per selezionare il cliente -->
            <div class="col-md-4">
                <div class="form-group">
                    <label for="cliente">Seleziona Cliente:</label>
                    <select id="cliente" name="cliente" class="form-control">
                        <option value="" disabled selected>-- Seleziona un cliente --</option>
                        {% for cliente in clienti %}
                            <option value="{{ cliente }}" {% if cliente == selected_client %}selected{% endif %}>{{ cliente }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>


            <!-- Filtro per selezionare la data -->
            <div class="col-md-4">
                <div class="form-group">
                    <label for="data">Seleziona Data:</label>
                    <input type="date" id="data" name="data" class="form-control" value="{{ selected_date }}">
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn-sm mt-2">Visualizza Note</button>
    </form>
</div>

<!-- Sezione per visualizzare le note passate filtrate -->
<h2>Note Precedenti{% if nome_operatore %} per {{ nome_operatore }}{% endif %}{% if nome_cliente %} per {{ nome_cliente }}{% endif %}{% if selected_date %} del {{ selected_date }}{% endif %}</h2>

<div id="note-precedenti">
    {% if note %}
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Data Creazione</th>
                    <th>Nota</th>
                    <th>Cliente</th>
                    <th>Ore</th>
                    <th>Attività</th>
                    <th>Trasferta</th>
                </tr>
            </thead>
            <tbody>
                {% for nota in note %}
                    <tr>
                        <td>{{ nota['creation_time'] }}</td>
                        <td>{{ nota['note'] }}</td>
                        <td>{{ nota['cliente'] }}</td>
                        <td>{{ nota['ore'] }}</td>
                        <td>{{ nota['activity'] }}</td>
                        <td>{{ nota['away'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% elif selected_operator or selected_client %}
        <p>Nessuna nota trovata per i criteri selezionati.</p>
    {% endif %}
    <form method="POST" action="{{ url_for('notes.generate_pdf') }}">
        <input type="hidden" name="operatore" value="{{ selected_operator }}">
        <input type="hidden" name="cliente" value="{{ selected_client }}">
        <input type="hidden" name="data" value="{{ selected_date }}">
        <button type="submit" class="btn btn-primary btn-sm mt-2">Stampa PDF</button>
    </form>
</div>

<!-- Form per aggiungere una nuova nota -->
<!-- Form per aggiungere una nuova nota -->
<h2>Aggiungi Nuova Nota</h2>
<form method="POST" action="{{ url_for('notes.add_note') }}">
    <div class="form-row align-items-center">
        <!-- Menu a tendina per selezionare l'operatore -->
        <div class="col-md-4">
            <div class="form-group">
                <label for="operatore">Seleziona Operatore:</label>
                <select id="operatore" name="operatore" class="form-control" required>
                    <option value="" disabled selected>-- Seleziona un operatore --</option>
                    {% for operatore in operatori %}
                        <option value="{{ operatore['operator_id'] }}" {% if operatore['operator_id'] == selected_operator %}selected{% endif %}>{{ operatore['operator_id'] }} - {{ operatore['name'] }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <!-- Menu a tendina per selezionare il cliente -->
        <div class="col-md-4">
            <div class="form-group">
                <label for="cliente">Seleziona Cliente:</label>
                <select id="cliente" name="cliente" class="form-control">
                    <option value="" disabled selected>-- Seleziona un cliente --</option>
                    {% for cliente in clienti %}
                        <option value="{{ cliente }}" {% if cliente == selected_client %}selected{% endif %}>{{ cliente }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>


        <!-- Campo di input per inserire le ore -->
        <div class="form-group col-md-6">
            <label for="ore">Ore:</label>
            <input type="number" name="ore" id="ore" class="form-control" step="0.1" min="0" required>
        </div>

        <!-- Campo per selezionare l'attività -->
        <div class="form-group col-md-6">
            <label for="attivita">Seleziona Attività:</label>
            <select id="attivita" name="attivita" class="form-control" required>
                <option value="" disabled selected>-- Seleziona un'attività --</option>
                {% for attivita in attivita %}
                    <option value="{{ attivita }}">{{ attivita }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Checkbox for 'away' status -->
<!-- Checkbox for 'away' status -->
    <div class="form-group col-md-6">
        <div class="form-check checkbox-align mt-4">
            <label class="form-check-label" for="away">Trasferta</label>
            <input type="checkbox" name="away" id="away" class="form-check-input" value="1">
        </div>
    </div>


    </div>

    <!-- Campo per inserire la nuova nota -->
    <div class="form-group">
        <label for="nota">Nuova Nota:</label>
        <textarea name="nota" id="nota" class="form-control" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary btn-sm">Aggiungi Nota</button>
</form>


{% endblock %}
