{% extends "base.html" %}

{% block content %}
<h1>Operators</h1>
<div class="page">
    <h2>Current Operators</h2>
    <div class="machine-grid">
        {% for operator in operators %}
        <div class="machine-card">
            <div class="machine-card-header">
                <h3>Operator: {{ operator.name }}</h3>
            </div>
            <div class="machine-card-body">
                <p><strong>Operator ID:</strong> {{ operator.operator_id }}</p>
                <p><strong>Status:</strong> {{ operator.status }}</p>
                <p><strong>Current Task:</strong> {{ operator.current_task }}</p>
            </div>
            <!-- Pulsante per modificare i dati dell'operatore con icona colorata di bianco -->
            <div class="machine-card-footer">
                <a href="{{ url_for('operators.edit_operator', operator_id=operator.operator_id) }}" class="btn btn-primary">
                    <span class="material-icons" style="color: white;">edit</span>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <h2>Add New Operator</h2>
    <a href="{{ url_for('operators.add_operator') }}" class="btn btn-primary">Add Operator</a>
</div>
{% endblock %}
