{% extends "base.html" %}

{% block title %}View Cycle{% endblock %}

{% block content %}
<h1>Cycle Details</h1>
<p><strong>Cycle ID:</strong> {{ cycle['CycleID'] }}</p>
<p><strong>Name:</strong> {{ cycle['CycleName'] }}</p>
<p><strong>Description:</strong> {{ cycle['Description'] }}</p>
<!-- Altri dettagli del ciclo -->

<h2>Operations</h2>
<a href="{{ url_for('add_operation', cycle_id=cycle['CycleID']) }}" class="btn btn-primary">Add Operation</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Operation ID</th>
            <th>Name</th>
            <th>Sequence</th>
            <th>Estimated Time</th>>
        </tr>
    </thead>
    <tbody>
        {% for operation in operations %}
            <tr>
                <td>{{ operation['OperationID'] }}</td>
                <td>{{ operation['OperationName'] }}</td>
                <td>{{ operation['OperationSequence'] }}</td>
                <td>{{ operation['EstimatedTime'] }}</td>
                <!-- Altri dettagli delle operazioni -->
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
